In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv ('train.csv')
test_data1=pd.read_csv('test.csv')
df.Number_Weeks_Used.unique()

array([ 0., nan, 26., 20., 15., 14., 19., 24.,  8., 23., 25., 28., 29.,
       22., 21., 17., 30., 35., 32., 27., 16., 31., 33., 34., 39., 38.,
       42., 40., 41., 36., 44., 37., 46., 45., 47., 43., 50., 10., 49.,
       53., 48., 51., 54., 52., 55., 56., 61., 18., 57., 62., 60., 63.,
       66., 59., 64., 13.,  7.,  5., 12.,  6.,  9., 58., 11., 65., 67.])

In [3]:
df=df.interpolate(method ='linear', limit_direction ='forward') 
 
df=df.fillna(0)

In [4]:
test_data1=test_data1.interpolate(method ='linear', limit_direction ='forward') 
test_data1=test_data1.fillna(0)

In [5]:
#df.dropna()
#test_data1.dropna()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88858 entries, 0 to 88857
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       88858 non-null  object
 1   Estimated_Insects_Count  88858 non-null  int64
 2   Crop_Type                88858 non-null  int64
 3   Soil_Type                88858 non-null  int64
 4   Pesticide_Use_Category   88858 non-null  int64
 5   Number_Doses_Week        88858 non-null  int64
 6   Number_Weeks_Used        88858 non-null  float64
 7   Number_Weeks_Quit        88858 non-null  int64
 8   Season                   88858 non-null  int64
 9   Crop_Damage              88858 non-null  int64
dtypes: float64(1), int64(8), object(1)
memory usage: 6.8+ MB

In [7]:
df.corr()

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
Estimated_Insects_Count,1.000000,-0.088830,-0.056375,-0.079904,-0.102461,0.439320,0.299279,0.002304,0.202888
Crop_Type,-0.088830,1.000000,-0.287372,0.235779,-0.192161,-0.045262,-0.233394,0.002161,-0.016495
Soil_Type,-0.056375,-0.287372,1.000000,0.032657,0.079447,-0.069329,0.009364,0.002327,-0.021997
Pesticide_Use_Category,-0.079904,0.235779,0.032657,1.000000,-0.003498,0.350107,-0.554169,0.002811,0.175002
Number_Doses_Week,-0.102461,-0.192161,0.079447,-0.003498,1.000000,0.124030,-0.037131,-0.001401,-0.030874
Number_Weeks_Used,0.439320,-0.045262,-0.069329,0.350107,0.124030,1.000000,-0.422018,0.003348,0.227674
Number_Weeks_Quit,0.299279,-0.233394,0.009364,-0.554169,-0.037131,-0.422018,1.000000,0.000595,-0.133117
Season,0.002304,0.002161,0.002327,0.002811,-0.001401,0.003348,0.000595,1.000000,-0.000184
Crop_Damage,0.202888,-0.016495,-0.021997,0.175002,-0.030874,0.227674,-0.133117,-0.000184,1.000000

In [8]:
df=df.drop(['ID'],axis=1)
Y_train=df['Crop_Damage']
df=df.drop(['Crop_Damage'],axis=1)
#df=df.drop(['Number_Weeks_Used'],axis=1)
X_train=df[['Estimated_Insects_Count','Pesticide_Use_Category','Number_Weeks_Used','Number_Weeks_Quit']]
X_train

,Estimated_Insects_Count,Pesticide_Use_Category,Number_Weeks_Used,Number_Weeks_Quit
0,188,1,0.0,0
1,209,1,0.0,0
2,257,1,0.0,0
3,257,1,0.0,0
4,342,1,0.0,0
...,...,...,...,...
88853,3337,2,12.0,44
88854,3516,2,20.0,38
88855,3516,2,40.0,8
88856,3702,2,25.0,18
88857,3895,2,37.0,7

In [9]:
test_data1=test_data1.drop(['ID'],axis=1)

#df=df.drop(['Crop_Damage'],axis=1)
test_data1=test_data1[['Estimated_Insects_Count','Pesticide_Use_Category','Number_Weeks_Used','Number_Weeks_Quit']]

In [10]:
df.head()

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
0,188,1,0,1,0,0.0,0,1
1,209,1,0,1,0,0.0,0,2
2,257,1,0,1,0,0.0,0,2
3,257,1,1,1,0,0.0,0,2
4,342,1,0,1,0,0.0,0,2

In [11]:
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

In [12]:
#X_train, X_test, Y_train, Y_test = train_test_split(df,y, test_size=0.2)

In [13]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
test_data1 = sc_X.fit_transform(test_data1)

In [14]:
print(test_data1.shape)
X_train.shape

(59310, 4)

(88858, 4)

In [15]:
#from sklearn.tree import DecisionTreeClassifier
#classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)

In [16]:
# Fitting Random Forest Classification to the Training set
#from sklearn.ensemble import RandomForestClassifier
#classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)

In [17]:
# Fitting Logistic Regression to the Training set
#from sklearn.linear_model import LogisticRegression
#classifier = LogisticRegression(random_state = 0)

In [18]:
# Fitting Naive Bayes to the Training set
#from sklearn.naive_bayes import GaussianNB
#classifier = GaussianNB()

In [19]:
# Fitting SVM to the Training set
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear', random_state = 0,probability= True)

In [20]:
classifier.fit(X_train,Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=True, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [21]:

Y_pred = classifier.predict(test_data1)

In [22]:
np.savetxt("data7.csv", Y_pred, delimiter=",")

In [23]:
print(accuracy_score(Y_train,Y_pred))

NameError: name 'accuracy_score' is not defined

In [ ]:
np.unique(Y_pred)

In [ ]:
X_test.shape

In [ ]:
Y_test.shape